@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #070632;
    font-size: 0.9rem;
}

.wrapper {
    margin: 0;
    padding: 0 4%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.site-title a {
    display: block;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.content-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

#about .text {
    text-align: left;
}

/*-------------------------------------------
service
-------------------------------------------*/
#service ul {
    display: flex;
    justify-content: space-between;
}

#service li {
    width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
    font-size: 0.8rem;
    padding: 10px 0;
    text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

    /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
    #mainvisual img {
        height: calc(100vh - 60px);
    }

    /*-------------------------------------------
  About
  -------------------------------------------*/
    #about .content {
        flex-direction: column;
    }

    #about img {
        margin-right: 0;
    }

    /*-------------------------------------------
  Service
  -------------------------------------------*/
    #service ul {
        flex-direction: column;
    }

    #service li {
        width: 100%;
        margin-bottom: 30px;
    }
}

/*-------------------------------------------
      keijiban.php
      -------------------------------------------*/
.kakikomilink {
    margin: 6vh 0 10% 0;
}

.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #4D4D4D;
    border: 1px solid #eae7e7;
    border-radius: 50%;
    box-shadow: 1px 1px #00000080;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
}

/*-------------------------------------------
      keijiban_kakikomi.php
      -------------------------------------------*/
.question {
    float: left;
    margin-left: 15px;
    font-weight: bold;
}

.form_question {
    float: center;
    margin: auto;
    /* font-weight: bold; */
}

.msg {
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.keijiban-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.answer {
    border: 1px solid black;
    /* border-radius: 5px; */
    padding: 10px;
    margin-bottom: 30px;
    height: 160px;
    width: 400px;
    font-size: 15px;
}

.answer_short {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 300px;
    font-size: 15px;
}

.kakikomi_button {
    text-align: center;
}

/*-------------------------------------------
      form2.php
      -------------------------------------------*/

.form_title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

.contact-form {
    /* border: 1.5px solid black; */
    padding: 50px 40px;
}

.formlabel {
    float: left;
    margin-right: 10px;
    width: 130px;
    border-left: 3px solid red;
    padding-left: 8px;
    font-weight: bold;
}

form {
    width: 460px;
    margin: 0 auto;
}

.item {
    width: 300px;
    margin-bottom: 15px;
}

.inputs {
    float: left;
    width: 465px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"] {
    border: solid 1px black;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 180px;
    width: 300px;
    font-size: 15px;
}

.button-area {
    text-align: center;
}

input[type="submit"] {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    /* border-radius: 5px; */
    margin: 25px 5px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

input[type="reset"] {
    background-color: red;
    border: none;
    padding: 10px 20px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin: 25px 5px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

/*-------------------------------------------
      signup.php
      -------------------------------------------*/
.signup_content {
    background-color: #749ee6;
    border-radius: 10px;
    width: 450px;
    height: 550px;
    margin: 50px auto;
    padding: 40px;
}

.signup_title {
    text-align: center;
}

.email_label,
.name_label,
.password_label {
    display: block;
    width: auto;
    margin: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    display: center;
    width: 24vw;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}

.button_area {
    margin-top: 30px;
    display: flex;
    /* width: 24vw; */
    justify-content: space-between;
}

.signup_button {
    padding: 15px 0;
    width: 50%;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    /* border-radius: 30px; */
}

.login_page_button {
    text-align: center;
    padding: 15px 0;
    width: 50%;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    background: #000000;
    color: #FFFFFF;
    /* border-radius: 30px; */
    text-decoration: none;
    /* background-color: red;
    border: none;
    padding: 10px 20px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin: 25px 5px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer; */
}

/*-------------------------------------------
      login.php
      -------------------------------------------*/
.signup_button,
.login_button {
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    /* border-radius: 30px; */
}

.login_page_button,
.signup_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    /* border-radius: 30px; */
    text-decoration: none;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.login_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    height: 480px;
    margin: 50px auto;
    padding: 50px;
}

.login_title {
    text-align: center;
}

.login_button {
    /* border-radius: 30px; */
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}

.signup_page_button {
    /* border-radius: 30px; */
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

/*-------------------------------------------
      thanks.php
      -------------------------------------------*/
.thanks {
    text-align: center;
    padding: 50px 0;

}

/*-------------------------------------------
      signup.php レスポンシブ
      -------------------------------------------*/
.signup_content {
    width: 50%;
}

.button_area {
    margin-top: 15px;
    flex-direction: column;
}

.signup_button,
.login_page_button {
    width: 100%;
    padding: 10px;
}

/* .login_page_button {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
} */

/*-------------------------------------------
      login.php レスポンシブ レスポンシブ
      -------------------------------------------*/

.login_content {
    width: 50%;
}

.login_button {
    width: 100%;
    padding: 10px;
}

.signup_page_button {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

/*-------------------------------------------
      keijiban.php レスポンシブ
      -------------------------------------------*/
.kakikomilink {
    padding-bottom: 10%;
}
